flows.json
[{"id":"57399338.3ad27c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18df5dc7.0ba8ea","type":"ui_form","z":"57399338.3ad27c","name":"","label":"","group":"44de351f.6b8a8c","order":0,"width":0,"height":0,"options":[{"label":"BMI\t","value":"a","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"b","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"c","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"d","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Country","value":"g","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"j","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"k","type":"number","required":true,"rows":null},{"label":"Measles ","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Schooling","value":"o","type":"number","required":true,"rows":null},{"label":"Status","value":"p","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"q","type":"number","required":true,"rows":null},{"label":"Year","value":"r","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"s","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"t","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["3e70d292.224486"]]},{"id":"3e2c3481.98d584","type":"http request","z":"57399338.3ad27c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/cb28290c-4ed7-4288-a580-a3291bffd339/deployments/bdeb793a-72a5-493f-be21-b38f5bbaf3b5/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["8cd62174.5ea6d","47d29d0f.3211cc"]]},{"id":"45a95126.d0c01","type":"debug","z":"57399338.3ad27c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"47d29d0f.3211cc","type":"function","z":"57399338.3ad27c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\n//msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["45a95126.d0c01","7c42f6d6.5e422"]]},{"id":"8cd62174.5ea6d","type":"debug","z":"57399338.3ad27c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"bd60e015.273ca8","type":"function","z":"57399338.3ad27c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"cb28290c-4ed7-4288-a580-a3291bffd339\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"BMI\", \"HIV/AIDS\", \"thinness  1-19 years\", \"thinness 5-9 years\",\n       \"Adult Mortality\", \"Alcohol\", \"Country\", \"Diphtheria \", \"GDP\",\n       \"Hepatitis B\", \"Income composition of resources\", \"Measles \", \"Polio\",\n       \"Population\", \"Schooling\", \"Status\", \"Total expenditure\", \"Year\",\n       \"infant deaths\", \"percentage expenditure\", \"under-five deaths \"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["3e2c3481.98d584"]]},{"id":"edc1fc94.91a038","type":"http request","z":"57399338.3ad27c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["bd60e015.273ca8"]]},{"id":"3e70d292.224486","type":"function","z":"57399338.3ad27c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"qFow6rcn7lJa3-qBCJ-fSynVVqKAh_sx7yLLFo8wYQuV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["edc1fc94.91a038"]]},{"id":"7c42f6d6.5e422","type":"ui_text","z":"57399338.3ad27c","group":"44de351f.6b8a8c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":420,"wires":[]},{"id":"44de351f.6b8a8c","type":"ui_group","z":"","name":"Machine Learning Model","tab":"cc0b5ffa.d8711","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc0b5ffa.d8711","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]
